<footer class="site-footer h-card">
  <data class="u-url" href="{{ .Permalink }}"></data>
  <div class="wrapper">
    <p class="site-description" style="display:flex;justify-content:space-between;align-items:center;">
      <span id="busuanzi_container_site_uv" style="display:inline;">
        {{- if eq .Lang "zh" }}
        訪客數 <span id="busuanzi_value_site_uv"></span>
        {{- else }}
        Visitors <span id="busuanzi_value_site_uv"></span>
        {{- end }}
      </span>
      <span>
        {{- if eq .Lang "zh" }}
        記錄學習的點滴，歡迎交流與指正(^_^)
        {{- else }}
        Capturing moments of learning, open to discussion and feedback :)
        {{- end }}
      </span>
    </p>
  </div>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</footer>
